<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8">
	<title>Untukmu Sayangku, Kyraa Khadeeja ❤️</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="letter-container">
		<h1>Assalamualaikum Sayang.</h1>
		<p>
			Every moment with you feels like magic. Your smile lights up my world and your love completes me. <br>
            You are my strength, my peace, and my everything. I’m so lucky to have you. ❤️
		</p>
		<button> onclick="revealSecret()">Cuba tekan kat sini ehehehe</button?
		<div id=secret-message" style="display:none;">
			<p> I love so much and forever sayangku </p>
		</div>
		<script>
			function revealSecret() {
				document.getElementById('secret-message').style.display = 'block' ;
			}
		</script>
</body>
</html>